nodered/170323
[
    {
        "id": "7f95d96787a96408",
        "type": "tab",
        "label": "YouTube",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "06889c696c0c03a2",
        "type": "tab",
        "label": "Radio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90093accf14c360e",
        "type": "tab",
        "label": "Remote",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45fb03d18e38b340",
        "type": "tab",
        "label": "TV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af942e9d7d4bccdc",
        "type": "tab",
        "label": "ANDROID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1378ba83.90c825",
        "type": "tab",
        "label": "INIT - Get Devicelist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4b2974d132c0cdc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6f25f5ac68f7cf02",
        "type": "ui_tab",
        "name": "Radio",
        "icon": "radio",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ef55fe62e7fd01a4",
        "type": "ui_group",
        "name": "WDR",
        "tab": "6f25f5ac68f7cf02",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4eebd6cd0a42ea99",
        "type": "ui_tab",
        "name": "YouTube",
        "icon": "personal_video",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1417f32bf49536bb",
        "type": "ui_group",
        "name": "Music",
        "tab": "4eebd6cd0a42ea99",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "804c81668076bf21",
        "type": "ui_group",
        "name": "Tools",
        "tab": "6f25f5ac68f7cf02",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "56c18bec860563ec",
        "type": "ui_group",
        "name": "Tools",
        "tab": "4eebd6cd0a42ea99",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e38cfb4de15a901c",
        "type": "ui_tab",
        "name": "Remote",
        "icon": "settings_remote",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01bdf8b287584fa0",
        "type": "ui_group",
        "name": "Remote",
        "tab": "e38cfb4de15a901c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf2a8bc022b513fc",
        "type": "ui_group",
        "name": "Live",
        "tab": "4eebd6cd0a42ea99",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74f2d68a2007b065",
        "type": "ui_tab",
        "name": "TV",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6481e721d8b2b46",
        "type": "ui_group",
        "name": "TV",
        "tab": "74f2d68a2007b065",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29f029187cf10018",
        "type": "ui_group",
        "name": "Tools",
        "tab": "74f2d68a2007b065",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d62304260b96d6d2",
        "type": "ui_group",
        "name": "International",
        "tab": "6f25f5ac68f7cf02",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f4463e899433bee0",
        "type": "ui_tab",
        "name": "Info Android",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0afa2725ed65e7a7",
        "type": "ui_group",
        "name": "System",
        "tab": "f4463e899433bee0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2976cd47e06e808c",
        "type": "ui_group",
        "name": "Device-Management",
        "tab": "f4463e899433bee0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "67795b0cb516c7ca",
        "type": "debug",
        "z": "7f95d96787a96408",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "b56df6cb5c986b3d",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "56c18bec860563ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ausklang",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "373441832fe84117",
        "type": "exec",
        "z": "7f95d96787a96408",
        "command": "/opt/lissi/fc/NRWRAP.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "67795b0cb516c7ca",
                "e26d567eb38a1156"
            ],
            [
                "67795b0cb516c7ca",
                "e26d567eb38a1156"
            ],
            [
                "67795b0cb516c7ca",
                "e26d567eb38a1156"
            ]
        ]
    },
    {
        "id": "e26d567eb38a1156",
        "type": "ui_text",
        "z": "7f95d96787a96408",
        "group": "56c18bec860563ec",
        "order": 2,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ccf86719008df8a",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Brenda Fassi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_BRENDA_FASSI",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "fb38afb541ac8477",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Summer vibes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_summer_vibes",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "e6550e7770703622",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Africa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_AFRI01",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "fa77967dc24a499d",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Deutsche Welle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_DW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "d69bc7720565bdf1",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Al Jazeera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_Al_Jazeera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "5ce1f4774090fe0f",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIVECAMS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_LIVECAMS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "0de4a619be7d0b19",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "NASA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_NASA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "b2637bd4802eebc4",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Top Songs 23",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_top_songs_23",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "373441832fe84117"
            ]
        ]
    },
    {
        "id": "2ba1da6d4f0da858",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "804c81668076bf21",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ausklang",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 40,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "3315e89d1d955383",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "ab095c01130ad946",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "679260145d8db0d9",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1live",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "3b98fb523c2b838d",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "2b9683af7ea44d32",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "a9e7d23bda918c06",
                "b5a4f1d630415213"
            ]
        ]
    },
    {
        "id": "c46614979de6682d",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cosmo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cosmo",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "52efdabb0ab9922e",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Event",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "event",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "95918c48e9d51bd6",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Maus Radio",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "maus",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "9265b67d9d297174",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "d62304260b96d6d2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dakar Musique",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dakarmusi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "4efc05f3c799735a",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live DIGGI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1lidiggi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "b97cf9cd638bfbbc",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Verkehrsfunk",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "vera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "b5a4f1d630415213",
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "b5a4f1d630415213",
        "type": "exec",
        "z": "06889c696c0c03a2",
        "command": "/opt/lissi/fc/RPLAYER.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "48ecab195e9ec3a2",
                "ad53c9c7a037cff8"
            ],
            [
                "6e54ad5e63023eac"
            ],
            [
                "9601e428e9d8469a"
            ]
        ]
    },
    {
        "id": "48ecab195e9ec3a2",
        "type": "ui_text",
        "z": "06889c696c0c03a2",
        "group": "804c81668076bf21",
        "order": 3,
        "width": "6",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "9601e428e9d8469a",
        "type": "ui_text",
        "z": "06889c696c0c03a2",
        "d": true,
        "group": "804c81668076bf21",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "6e54ad5e63023eac",
        "type": "ui_text",
        "z": "06889c696c0c03a2",
        "d": true,
        "group": "804c81668076bf21",
        "order": 5,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "a9e7d23bda918c06",
        "type": "change",
        "z": "06889c696c0c03a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "48ecab195e9ec3a2",
                "6e54ad5e63023eac",
                "9601e428e9d8469a"
            ]
        ]
    },
    {
        "id": "ad53c9c7a037cff8",
        "type": "function",
        "z": "06889c696c0c03a2",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "d0d6f9c9b652e0a3"
            ]
        ]
    },
    {
        "id": "d0d6f9c9b652e0a3",
        "type": "change",
        "z": "06889c696c0c03a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "48ecab195e9ec3a2"
            ]
        ]
    },
    {
        "id": "6a474d92f38233fe",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Leise",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_VOL_DOWN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c463e3e38882d76f"
            ]
        ]
    },
    {
        "id": "c463e3e38882d76f",
        "type": "exec",
        "z": "90093accf14c360e",
        "command": "/opt/lissi/fc/NRWRAP.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "18a34ee04d57d5d1",
                "03550616006d07eb"
            ],
            [
                "18a34ee04d57d5d1",
                "03550616006d07eb"
            ],
            [
                "18a34ee04d57d5d1",
                "03550616006d07eb"
            ]
        ]
    },
    {
        "id": "18a34ee04d57d5d1",
        "type": "debug",
        "z": "90093accf14c360e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "03550616006d07eb",
        "type": "ui_text",
        "z": "90093accf14c360e",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5a9aa354af0dab1",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laut",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_VOL_UP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c463e3e38882d76f"
            ]
        ]
    },
    {
        "id": "d2f15cdd4a8c1028",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Next Media",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_NEXTMEDIA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c463e3e38882d76f"
            ]
        ]
    },
    {
        "id": "aa768e0d69cc01eb",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Previous Media",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_PREVIOUSMEDIA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "c463e3e38882d76f"
            ]
        ]
    },
    {
        "id": "937d2bda2650980e",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play/Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_PLAYPAUSE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "c463e3e38882d76f"
            ]
        ]
    },
    {
        "id": "2232b0f6a428129a",
        "type": "debug",
        "z": "45fb03d18e38b340",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e9b2c9de601c5dd",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "29f029187cf10018",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ausklang",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "2055f6b4b6f5f237"
            ]
        ]
    },
    {
        "id": "2055f6b4b6f5f237",
        "type": "exec",
        "z": "45fb03d18e38b340",
        "command": "/opt/lissi/fc/NRWRAP.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "2232b0f6a428129a",
                "2e5841b0ec883412"
            ],
            [
                "2232b0f6a428129a",
                "2e5841b0ec883412"
            ],
            [
                "2232b0f6a428129a",
                "2e5841b0ec883412"
            ]
        ]
    },
    {
        "id": "2e5841b0ec883412",
        "type": "ui_text",
        "z": "45fb03d18e38b340",
        "group": "29f029187cf10018",
        "order": 6,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "47c6a08d2f48d350",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ZDF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ZDF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "2055f6b4b6f5f237"
            ]
        ]
    },
    {
        "id": "bb4d42dd7d7ec994",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Das Erste",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ARD",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "2055f6b4b6f5f237"
            ]
        ]
    },
    {
        "id": "ed66ed471b17a0ad",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_WDR",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 20,
        "wires": [
            [
                "2055f6b4b6f5f237"
            ]
        ]
    },
    {
        "id": "f9a30e3cf26fe110",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "29f029187cf10018",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kill VLC",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "KILLVLC",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "2055f6b4b6f5f237"
            ]
        ]
    },
    {
        "id": "cda75940bf24890c",
        "type": "ui_button",
        "z": "af942e9d7d4bccdc",
        "name": "",
        "group": "0afa2725ed65e7a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "5eebc4944ca2f1ba",
                "da0a7b3ae7421539",
                "0151706ebc1fbeae"
            ]
        ]
    },
    {
        "id": "86d498300a5682c0",
        "type": "exec",
        "z": "af942e9d7d4bccdc",
        "command": "/opt/lissi/fc/android-control/BATTERY-STATUS.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "get_battery",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "25970ed7fd3fa17f",
                "da0a7b3ae7421539"
            ],
            [],
            []
        ]
    },
    {
        "id": "25970ed7fd3fa17f",
        "type": "debug",
        "z": "af942e9d7d4bccdc",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "da0a7b3ae7421539",
        "type": "ui_text",
        "z": "af942e9d7d4bccdc",
        "group": "0afa2725ed65e7a7",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Battery",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "5eebc4944ca2f1ba",
        "type": "function",
        "z": "af942e9d7d4bccdc",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 100);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "86d498300a5682c0",
                "ecb250c001a76787"
            ]
        ]
    },
    {
        "id": "7b6b8aa7b1614493",
        "type": "inject",
        "z": "af942e9d7d4bccdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "cda75940bf24890c"
            ]
        ]
    },
    {
        "id": "ecb250c001a76787",
        "type": "exec",
        "z": "af942e9d7d4bccdc",
        "command": "/opt/lissi/fc/android-control/MPLAY-STATUS.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "get_playback",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "0151706ebc1fbeae",
                "25970ed7fd3fa17f"
            ],
            [],
            []
        ]
    },
    {
        "id": "0151706ebc1fbeae",
        "type": "ui_text",
        "z": "af942e9d7d4bccdc",
        "group": "0afa2725ed65e7a7",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "MediaPlayback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8436e2f.135fe",
        "type": "csv",
        "z": "1378ba83.90c825",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "9e327bbf.9c3c58",
                "f0152f80207f1eb6"
            ]
        ]
    },
    {
        "id": "9e327bbf.9c3c58",
        "type": "debug",
        "z": "1378ba83.90c825",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "a33a2128.40e88",
        "type": "ui_dropdown",
        "z": "1378ba83.90c825",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "2976cd47e06e808c",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "89fea262845e81d4"
            ]
        ]
    },
    {
        "id": "7c75bb13.878454",
        "type": "inject",
        "z": "1378ba83.90c825",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "4a2d8ab3eb5a15f2"
            ]
        ]
    },
    {
        "id": "f0152f80207f1eb6",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "",
        "func": "var arr_in = msg.payload\nvar arr_out = [];\nvar element4dropdown = \"\"\nvar i = 0\n\nvar l = arr_in.length\n\nfor (i=0; i<l; i++) {\n    //node.warn  (i)\n    //node.warn(arr_in[i])\n    element4dropdown = arr_in[i].col1 + \"(\" + arr_in[i].col2 + \")\"\n    \n    //if (i = 0)\n    //    msg.payload = element4dropdown;\n    \n    arr_out.push(element4dropdown)\n    //node.warn(\"arr_out:\" + arr_out.join(\",\"))\n    //arr_out.push(arr_in[i].col1)\n}\n\nmsg.options = arr_out\nmsg.payload = element4dropdown\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "a33a2128.40e88"
            ]
        ]
    },
    {
        "id": "0b137da1c11ea306",
        "type": "exec",
        "z": "1378ba83.90c825",
        "command": "/opt/lissi/fc/android-control/LOCAL_DEVICES.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "get_local_devices",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "a8436e2f.135fe",
                "9e327bbf.9c3c58"
            ],
            [],
            []
        ]
    },
    {
        "id": "349655d63661e30f",
        "type": "comment",
        "z": "1378ba83.90c825",
        "name": "",
        "info": "Execute shellscript which returns devices.\nFeed the result into dropdown\n",
        "x": 80,
        "y": 380,
        "wires": []
    },
    {
        "id": "174d616a7f3a655a",
        "type": "ui_text",
        "z": "1378ba83.90c825",
        "group": "0afa2725ed65e7a7",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Sel. Device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "8de7a68e3a0daa42",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "set_global_device",
        "func": "global.set('G_DEVICE', msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eb41c5c470ad4967",
        "type": "inject",
        "z": "1378ba83.90c825",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "bf9c8c6952350ada"
            ]
        ]
    },
    {
        "id": "bf9c8c6952350ada",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "get_global_device",
        "func": "msg.payload = global.get('G_DEVICE') || 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "174d616a7f3a655a"
            ]
        ]
    },
    {
        "id": "89fea262845e81d4",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "split_deviceID",
        "func": "\nconst myArray = msg.payload.split(\"(\");\nmsg.payload = myArray[0];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "9e327bbf.9c3c58",
                "8de7a68e3a0daa42",
                "8926541f90ae3a62"
            ]
        ]
    },
    {
        "id": "4a2d8ab3eb5a15f2",
        "type": "ui_button",
        "z": "1378ba83.90c825",
        "name": "",
        "group": "2976cd47e06e808c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh Devicelist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "0b137da1c11ea306"
            ]
        ]
    },
    {
        "id": "8926541f90ae3a62",
        "type": "exec",
        "z": "1378ba83.90c825",
        "command": "/opt/lissi/fc/android-control/SET_DEFAULT_DEVICE.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "set_default_device",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "9e327bbf.9c3c58"
            ],
            [
                "9e327bbf.9c3c58"
            ],
            [
                "9e327bbf.9c3c58"
            ]
        ]
    }
]