nodered/flows.json
[
    {
        "id": "7f95d96787a96408",
        "type": "tab",
        "label": "YouTube",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "06889c696c0c03a2",
        "type": "tab",
        "label": "Radio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90093accf14c360e",
        "type": "tab",
        "label": "Remote",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45fb03d18e38b340",
        "type": "tab",
        "label": "TV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af942e9d7d4bccdc",
        "type": "tab",
        "label": "ANDROID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1378ba83.90c825",
        "type": "tab",
        "label": "INIT - Get Devicelist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e2b0d184fda5883",
        "type": "tab",
        "label": "Web",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8dbcadf2ac9b9d5d",
        "type": "tab",
        "label": "Termux",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b4b2974d132c0cdc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6f25f5ac68f7cf02",
        "type": "ui_tab",
        "name": "Radio",
        "icon": "radio",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ef55fe62e7fd01a4",
        "type": "ui_group",
        "name": "WDR",
        "tab": "6f25f5ac68f7cf02",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4eebd6cd0a42ea99",
        "type": "ui_tab",
        "name": "YouTube",
        "icon": "tablet",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1417f32bf49536bb",
        "type": "ui_group",
        "name": "Music",
        "tab": "4eebd6cd0a42ea99",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "804c81668076bf21",
        "type": "ui_group",
        "name": "Tools",
        "tab": "6f25f5ac68f7cf02",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "56c18bec860563ec",
        "type": "ui_group",
        "name": "Tools",
        "tab": "4eebd6cd0a42ea99",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e38cfb4de15a901c",
        "type": "ui_tab",
        "name": "Remote",
        "icon": "settings_remote",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01bdf8b287584fa0",
        "type": "ui_group",
        "name": "Remote",
        "tab": "e38cfb4de15a901c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cf2a8bc022b513fc",
        "type": "ui_group",
        "name": "Live",
        "tab": "4eebd6cd0a42ea99",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74f2d68a2007b065",
        "type": "ui_tab",
        "name": "TV",
        "icon": "tv",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6481e721d8b2b46",
        "type": "ui_group",
        "name": "Oere",
        "tab": "74f2d68a2007b065",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "29f029187cf10018",
        "type": "ui_group",
        "name": "Tools",
        "tab": "74f2d68a2007b065",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d62304260b96d6d2",
        "type": "ui_group",
        "name": "International",
        "tab": "6f25f5ac68f7cf02",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f4463e899433bee0",
        "type": "ui_tab",
        "name": "Android",
        "icon": "android",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0afa2725ed65e7a7",
        "type": "ui_group",
        "name": "System",
        "tab": "f4463e899433bee0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2976cd47e06e808c",
        "type": "ui_group",
        "name": "Device-Management",
        "tab": "f4463e899433bee0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d120fc57903753af",
        "type": "ui_tab",
        "name": "Web",
        "icon": "web",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36cac52121b3db38",
        "type": "ui_group",
        "name": "Videotext",
        "tab": "d120fc57903753af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bb90af547ee34a79",
        "type": "ui_group",
        "name": "Sonstige",
        "tab": "d120fc57903753af",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "054926729a368921",
        "type": "ui_group",
        "name": "Tools",
        "tab": "d120fc57903753af",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5861fd50fb7ea62c",
        "type": "ui_group",
        "name": "Playlist",
        "tab": "d120fc57903753af",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a375a50eec6ddc39",
        "type": "ui_group",
        "name": "Music",
        "tab": "74f2d68a2007b065",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "309957e1a91b56b2",
        "type": "ui_group",
        "name": "Speaking Videotext",
        "tab": "8e335a26f4915739",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e335a26f4915739",
        "type": "ui_tab",
        "name": "Termux",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "67795b0cb516c7ca",
        "type": "debug",
        "z": "7f95d96787a96408",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "e26d567eb38a1156",
        "type": "ui_text",
        "z": "7f95d96787a96408",
        "group": "56c18bec860563ec",
        "order": 2,
        "width": "6",
        "height": "12",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "9ccf86719008df8a",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Brenda Fassi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_BRENDA_FASSI",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "fb38afb541ac8477",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Summer vibes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_summer_vibes",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "e6550e7770703622",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Africa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_AFRI01",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "fa77967dc24a499d",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "d": true,
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Deutsche Welle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_DW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "d69bc7720565bdf1",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "d": true,
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Al Jazeera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_Al_Jazeera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "5ce1f4774090fe0f",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIVECAMS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_LIVECAMS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "0de4a619be7d0b19",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "cf2a8bc022b513fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "NASA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_NASA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "b2637bd4802eebc4",
        "type": "ui_button",
        "z": "7f95d96787a96408",
        "name": "",
        "group": "1417f32bf49536bb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Top Songs 23",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "YT_top_songs_23",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "766214791e07ea63"
            ]
        ]
    },
    {
        "id": "83ade70f5074ba52",
        "type": "exec",
        "z": "7f95d96787a96408",
        "command": "/opt/lissi/fc/SMARTTUBE.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "d4d3f48335d1d8dd",
                "e26d567eb38a1156",
                "67795b0cb516c7ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "766214791e07ea63",
        "type": "change",
        "z": "7f95d96787a96408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "ade5f42e6bb5ea85",
                "83ade70f5074ba52"
            ]
        ]
    },
    {
        "id": "d4d3f48335d1d8dd",
        "type": "function",
        "z": "7f95d96787a96408",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 260,
        "wires": [
            [
                "47ccf5643dca7698"
            ]
        ]
    },
    {
        "id": "47ccf5643dca7698",
        "type": "change",
        "z": "7f95d96787a96408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "e26d567eb38a1156"
            ]
        ]
    },
    {
        "id": "ade5f42e6bb5ea85",
        "type": "change",
        "z": "7f95d96787a96408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "e26d567eb38a1156"
            ]
        ]
    },
    {
        "id": "2ba1da6d4f0da858",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "804c81668076bf21",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ausklang",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 40,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "3315e89d1d955383",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "ab095c01130ad946",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "679260145d8db0d9",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1live",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "3b98fb523c2b838d",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "2b9683af7ea44d32",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wdr5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "c46614979de6682d",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cosmo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cosmo",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "52efdabb0ab9922e",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Event",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "event",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "95918c48e9d51bd6",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Maus Radio",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "maus",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "9265b67d9d297174",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "d62304260b96d6d2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dakar Musique",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dakarmusi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "4efc05f3c799735a",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live DIGGI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1lidiggi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "b97cf9cd638bfbbc",
        "type": "ui_button",
        "z": "06889c696c0c03a2",
        "name": "",
        "group": "ef55fe62e7fd01a4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Verkehrsfunk",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "vera",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "a9e7d23bda918c06"
            ]
        ]
    },
    {
        "id": "b5a4f1d630415213",
        "type": "exec",
        "z": "06889c696c0c03a2",
        "command": "/opt/lissi/fc/RPLAYER.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "48ecab195e9ec3a2",
                "ad53c9c7a037cff8"
            ],
            [],
            []
        ]
    },
    {
        "id": "48ecab195e9ec3a2",
        "type": "ui_text",
        "z": "06889c696c0c03a2",
        "group": "804c81668076bf21",
        "order": 3,
        "width": "6",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "a9e7d23bda918c06",
        "type": "change",
        "z": "06889c696c0c03a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "b5a4f1d630415213",
                "3c06aa6952657b3c"
            ]
        ]
    },
    {
        "id": "ad53c9c7a037cff8",
        "type": "function",
        "z": "06889c696c0c03a2",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "d0d6f9c9b652e0a3"
            ]
        ]
    },
    {
        "id": "d0d6f9c9b652e0a3",
        "type": "change",
        "z": "06889c696c0c03a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "48ecab195e9ec3a2"
            ]
        ]
    },
    {
        "id": "3c06aa6952657b3c",
        "type": "change",
        "z": "06889c696c0c03a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "48ecab195e9ec3a2"
            ]
        ]
    },
    {
        "id": "6a474d92f38233fe",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Leise",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_VOL_DOWN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 20,
        "wires": [
            [
                "8404b0c5f6c9d164",
                "9895017f125382d7"
            ]
        ]
    },
    {
        "id": "18a34ee04d57d5d1",
        "type": "debug",
        "z": "90093accf14c360e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "a5a9aa354af0dab1",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laut",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_VOL_UP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 60,
        "wires": [
            [
                "8404b0c5f6c9d164",
                "9895017f125382d7"
            ]
        ]
    },
    {
        "id": "d2f15cdd4a8c1028",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Next Media",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_NEXTMEDIA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "8404b0c5f6c9d164",
                "9895017f125382d7"
            ]
        ]
    },
    {
        "id": "aa768e0d69cc01eb",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Previous Media",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_PREVIOUSMEDIA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "8404b0c5f6c9d164",
                "9895017f125382d7"
            ]
        ]
    },
    {
        "id": "937d2bda2650980e",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play/Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_PLAYPAUSE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "8404b0c5f6c9d164",
                "9895017f125382d7"
            ]
        ]
    },
    {
        "id": "8404b0c5f6c9d164",
        "type": "exec",
        "z": "90093accf14c360e",
        "command": "/opt/lissi/fc/KEYCODE.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "70571cca38536bba",
                "eb8349fd528c32fa",
                "18a34ee04d57d5d1"
            ],
            [],
            []
        ]
    },
    {
        "id": "70571cca38536bba",
        "type": "ui_text",
        "z": "90093accf14c360e",
        "group": "01bdf8b287584fa0",
        "order": 6,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "9895017f125382d7",
        "type": "change",
        "z": "90093accf14c360e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "70571cca38536bba"
            ]
        ]
    },
    {
        "id": "eb8349fd528c32fa",
        "type": "function",
        "z": "90093accf14c360e",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 180,
        "wires": [
            [
                "7e17c70e2b2272f4"
            ]
        ]
    },
    {
        "id": "7e17c70e2b2272f4",
        "type": "change",
        "z": "90093accf14c360e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "70571cca38536bba"
            ]
        ]
    },
    {
        "id": "88a9e58813df46dc",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_POWERTOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "9895017f125382d7",
                "8404b0c5f6c9d164"
            ]
        ]
    },
    {
        "id": "8ef537456d2f87ac",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_BACK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "9895017f125382d7",
                "8404b0c5f6c9d164"
            ]
        ]
    },
    {
        "id": "e076b6be4a88ee1b",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_BACKWARD",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "8404b0c5f6c9d164"
            ]
        ]
    },
    {
        "id": "83610df6ddd62c8a",
        "type": "ui_button",
        "z": "90093accf14c360e",
        "name": "",
        "group": "01bdf8b287584fa0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "K_FORWARD",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "8404b0c5f6c9d164"
            ]
        ]
    },
    {
        "id": "2232b0f6a428129a",
        "type": "debug",
        "z": "45fb03d18e38b340",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "47c6a08d2f48d350",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ZDF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ZDF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "bb4d42dd7d7ec994",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Das Erste",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ARD",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "ed66ed471b17a0ad",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_WDR",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 20,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "2c8da44869b43eb7",
        "type": "exec",
        "z": "45fb03d18e38b340",
        "command": "/opt/lissi/fc/TVPLAYER.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "78fbb3e8ca226bc0",
                "423f572bd474e027",
                "2232b0f6a428129a"
            ],
            [],
            []
        ]
    },
    {
        "id": "78fbb3e8ca226bc0",
        "type": "ui_text",
        "z": "45fb03d18e38b340",
        "group": "29f029187cf10018",
        "order": 3,
        "width": "6",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "78bc4abeff5c2006",
        "type": "change",
        "z": "45fb03d18e38b340",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "2c8da44869b43eb7",
                "d1cde54b99fee6c4"
            ]
        ]
    },
    {
        "id": "423f572bd474e027",
        "type": "function",
        "z": "45fb03d18e38b340",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "b1c7b59c4b6e7fae"
            ]
        ]
    },
    {
        "id": "b1c7b59c4b6e7fae",
        "type": "change",
        "z": "45fb03d18e38b340",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "78fbb3e8ca226bc0"
            ]
        ]
    },
    {
        "id": "d1cde54b99fee6c4",
        "type": "change",
        "z": "45fb03d18e38b340",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "78fbb3e8ca226bc0"
            ]
        ]
    },
    {
        "id": "b043b9fd1ab20fcd",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "a375a50eec6ddc39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VH1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_vh1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "623cd0415bf145c5",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "a375a50eec6ddc39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Latino (Vevo)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_vevo_latino",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "478143951f592ffb",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "a375a50eec6ddc39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ocko",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ocko",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "96e806912d3973aa",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Phoenix",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_PHOENIX",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "ce58c921fac0ee3b",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Arte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ARTE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "c91471d2ca0e9a38",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kika",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_KIKA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "87b6c49b525428c1",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "One",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ONE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "67a6ce8516f059a7",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3SAT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_3SAT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "dfc0f01f5c7edfb5",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BR Alpha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_ALPHA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "393966ba2a916d98",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DW (Deutsch)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_DWDEU",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "2901234e3a2045e2",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "name": "",
        "group": "e6481e721d8b2b46",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tagesschau 24",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_TS24",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "8cfa117b0843c545",
        "type": "ui_button",
        "z": "45fb03d18e38b340",
        "d": true,
        "name": "",
        "group": "a375a50eec6ddc39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TV_test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "78bc4abeff5c2006"
            ]
        ]
    },
    {
        "id": "cda75940bf24890c",
        "type": "ui_button",
        "z": "af942e9d7d4bccdc",
        "name": "",
        "group": "0afa2725ed65e7a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "5eebc4944ca2f1ba",
                "da0a7b3ae7421539",
                "0151706ebc1fbeae",
                "b876809f05743129"
            ]
        ]
    },
    {
        "id": "86d498300a5682c0",
        "type": "exec",
        "z": "af942e9d7d4bccdc",
        "command": "/opt/lissi/fc/android-control/BATTERY-STATUS.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "get_battery",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "25970ed7fd3fa17f",
                "da0a7b3ae7421539"
            ],
            [],
            []
        ]
    },
    {
        "id": "25970ed7fd3fa17f",
        "type": "debug",
        "z": "af942e9d7d4bccdc",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "da0a7b3ae7421539",
        "type": "ui_text",
        "z": "af942e9d7d4bccdc",
        "group": "0afa2725ed65e7a7",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Battery",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "5eebc4944ca2f1ba",
        "type": "function",
        "z": "af942e9d7d4bccdc",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 100);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "86d498300a5682c0",
                "ecb250c001a76787",
                "3e64979838e001b7"
            ]
        ]
    },
    {
        "id": "7b6b8aa7b1614493",
        "type": "inject",
        "z": "af942e9d7d4bccdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "cda75940bf24890c"
            ]
        ]
    },
    {
        "id": "ecb250c001a76787",
        "type": "exec",
        "z": "af942e9d7d4bccdc",
        "command": "/opt/lissi/fc/android-control/MPLAY-STATUS.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "get_playback",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "0151706ebc1fbeae",
                "25970ed7fd3fa17f"
            ],
            [],
            []
        ]
    },
    {
        "id": "0151706ebc1fbeae",
        "type": "ui_text",
        "z": "af942e9d7d4bccdc",
        "group": "0afa2725ed65e7a7",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "MediaPlayback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "b876809f05743129",
        "type": "ui_text",
        "z": "af942e9d7d4bccdc",
        "group": "0afa2725ed65e7a7",
        "order": 5,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "Device Infos",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e64979838e001b7",
        "type": "exec",
        "z": "af942e9d7d4bccdc",
        "command": "/opt/lissi/fc/android-control/DEVICE_STATUS.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "get_devinfo",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "25970ed7fd3fa17f",
                "b876809f05743129"
            ],
            [
                "25970ed7fd3fa17f"
            ],
            [
                "25970ed7fd3fa17f"
            ]
        ]
    },
    {
        "id": "a8436e2f.135fe",
        "type": "csv",
        "z": "1378ba83.90c825",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "9e327bbf.9c3c58",
                "f0152f80207f1eb6"
            ]
        ]
    },
    {
        "id": "9e327bbf.9c3c58",
        "type": "debug",
        "z": "1378ba83.90c825",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "a33a2128.40e88",
        "type": "ui_dropdown",
        "z": "1378ba83.90c825",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "2976cd47e06e808c",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "89fea262845e81d4"
            ]
        ]
    },
    {
        "id": "7c75bb13.878454",
        "type": "inject",
        "z": "1378ba83.90c825",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "4a2d8ab3eb5a15f2"
            ]
        ]
    },
    {
        "id": "f0152f80207f1eb6",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "",
        "func": "var arr_in = msg.payload\nvar arr_out = [];\nvar element4dropdown = \"\"\nvar i = 0\n\nvar l = arr_in.length\n\nfor (i=0; i<l; i++) {\n    //node.warn  (i)\n    //node.warn(arr_in[i])\n    element4dropdown = arr_in[i].col1 + \"(\" + arr_in[i].col2 + \")\"\n    \n    //if (i = 0)\n    //    msg.payload = element4dropdown;\n    \n    arr_out.push(element4dropdown)\n    //node.warn(\"arr_out:\" + arr_out.join(\",\"))\n    //arr_out.push(arr_in[i].col1)\n}\n\nmsg.options = arr_out\nmsg.payload = element4dropdown\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "a33a2128.40e88"
            ]
        ]
    },
    {
        "id": "0b137da1c11ea306",
        "type": "exec",
        "z": "1378ba83.90c825",
        "command": "/opt/lissi/fc/android-control/LOCAL_DEVICES.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "get_local_devices",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "a8436e2f.135fe",
                "9e327bbf.9c3c58"
            ],
            [],
            []
        ]
    },
    {
        "id": "349655d63661e30f",
        "type": "comment",
        "z": "1378ba83.90c825",
        "name": "",
        "info": "Execute shellscript which returns devices.\nFeed the result into dropdown\n",
        "x": 80,
        "y": 380,
        "wires": []
    },
    {
        "id": "174d616a7f3a655a",
        "type": "ui_text",
        "z": "1378ba83.90c825",
        "group": "0afa2725ed65e7a7",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Sel. Device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "8de7a68e3a0daa42",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "set_global_device",
        "func": "global.set('G_DEVICE', msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eb41c5c470ad4967",
        "type": "inject",
        "z": "1378ba83.90c825",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "bf9c8c6952350ada"
            ]
        ]
    },
    {
        "id": "bf9c8c6952350ada",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "get_global_device",
        "func": "msg.payload = global.get('G_DEVICE') || 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "174d616a7f3a655a"
            ]
        ]
    },
    {
        "id": "89fea262845e81d4",
        "type": "function",
        "z": "1378ba83.90c825",
        "name": "split_deviceID",
        "func": "\nconst myArray = msg.payload.split(\"(\");\nmsg.payload = myArray[0];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "9e327bbf.9c3c58",
                "8de7a68e3a0daa42",
                "8926541f90ae3a62"
            ]
        ]
    },
    {
        "id": "4a2d8ab3eb5a15f2",
        "type": "ui_button",
        "z": "1378ba83.90c825",
        "name": "",
        "group": "2976cd47e06e808c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh Devicelist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "0b137da1c11ea306"
            ]
        ]
    },
    {
        "id": "8926541f90ae3a62",
        "type": "exec",
        "z": "1378ba83.90c825",
        "command": "/opt/lissi/fc/android-control/SET_DEFAULT_DEVICE.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "set_default_device",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "9e327bbf.9c3c58"
            ],
            [
                "9e327bbf.9c3c58"
            ],
            [
                "9e327bbf.9c3c58"
            ]
        ]
    },
    {
        "id": "0ee8e7f55e406108",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1. Bundesliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_1Bundesliga",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "df5236d81deeb8ba",
        "type": "exec",
        "z": "6e2b0d184fda5883",
        "command": "/opt/lissi/fc/WEBPAGE.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "40",
        "winHide": false,
        "oldrc": false,
        "name": "exandout",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "df4694a919363b83",
                "a578b0eddf4acd72"
            ],
            [],
            []
        ]
    },
    {
        "id": "df4694a919363b83",
        "type": "ui_text",
        "z": "6e2b0d184fda5883",
        "group": "054926729a368921",
        "order": 3,
        "width": "6",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "488ef31fa82df9a9",
        "type": "change",
        "z": "6e2b0d184fda5883",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "df5236d81deeb8ba",
                "63a659fe0e8a9ae5"
            ]
        ]
    },
    {
        "id": "a578b0eddf4acd72",
        "type": "function",
        "z": "6e2b0d184fda5883",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 15000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 320,
        "wires": [
            [
                "0acd80ad0b1b326a"
            ]
        ]
    },
    {
        "id": "0acd80ad0b1b326a",
        "type": "change",
        "z": "6e2b0d184fda5883",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "df4694a919363b83"
            ]
        ]
    },
    {
        "id": "63a659fe0e8a9ae5",
        "type": "change",
        "z": "6e2b0d184fda5883",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "df4694a919363b83"
            ]
        ]
    },
    {
        "id": "2b0a3dc3401652d0",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "bb90af547ee34a79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "radio.net",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_radio-net",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "553621eb1dedd967",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2. Bundesliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_2Bundesliga",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "4053587467af8260",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3. Bundesliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_3Bundesliga",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "9e24d98f9d843f77",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Regionalliga West",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_RLW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "f5618eefa58e4095",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "054926729a368921",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Background",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_stopstream",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 60,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "455b4976266c35b0",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Oberliga Niederrhein",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_OLN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "3072ee352df0e370",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "36cac52121b3db38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Startseite",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_100",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "224ce0fe01bcaae4",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "5861fd50fb7ea62c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live Playlist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_pl_1live",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "8cf763eec06b7cbb",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "5861fd50fb7ea62c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cosmo Playlist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_pl_cosmo",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "e37e0d64554b86ef",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "5861fd50fb7ea62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1live Diggi Playlist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_pl_1lidiggi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "649ffbf5380b8273",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "5861fd50fb7ea62c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "WDR2 Playlist",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_pl_wdr2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "e5d85d6b4b489817",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "d": true,
        "name": "",
        "group": "bb90af547ee34a79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rain Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_rain-alarm",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "cfa0663857b616c4",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "bb90af547ee34a79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "tvtv.de",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_tvtv",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "dfe1b6fb1e503bf6",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "bb90af547ee34a79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "TV Movie",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_tvmovie",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "1b77fa1b8238f6fe",
        "type": "ui_button",
        "z": "6e2b0d184fda5883",
        "name": "",
        "group": "bb90af547ee34a79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hrzu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_hoerzu",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "488ef31fa82df9a9"
            ]
        ]
    },
    {
        "id": "58c333d8dbdc8c95",
        "type": "inject",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "82a3c173dd4d4599"
            ]
        ]
    },
    {
        "id": "82a3c173dd4d4599",
        "type": "exec",
        "z": "8dbcadf2ac9b9d5d",
        "command": "/data/data/com.termux/files/opt/lissi/termux/vtext2speech/ff.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "5a1a0708ba885914"
            ],
            [
                "5a1a0708ba885914"
            ],
            [
                "5a1a0708ba885914"
            ]
        ]
    },
    {
        "id": "5a1a0708ba885914",
        "type": "debug",
        "z": "8dbcadf2ac9b9d5d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b6da6e9d37afce6",
        "type": "exec",
        "z": "8dbcadf2ac9b9d5d",
        "command": "/data/data/com.termux/files/opt/lissi/termux/vtext2speech/NEWS-NRW.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "800",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "5a1a0708ba885914",
                "3054f48526a4dbbc",
                "b4aa1d891d420f1d"
            ],
            [
                "5a1a0708ba885914"
            ],
            [
                "5a1a0708ba885914"
            ]
        ]
    },
    {
        "id": "1e5771d4f87ea690",
        "type": "inject",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "8b6da6e9d37afce6"
            ]
        ]
    },
    {
        "id": "ab64c972490c3d90",
        "type": "ui_button",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "group": "309957e1a91b56b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "NRW News",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_100",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "377358d8f87c23c1"
            ]
        ]
    },
    {
        "id": "b4aa1d891d420f1d",
        "type": "ui_text",
        "z": "8dbcadf2ac9b9d5d",
        "group": "309957e1a91b56b2",
        "order": 5,
        "width": "6",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "377358d8f87c23c1",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "cc92421942a01d26",
                "8b6da6e9d37afce6"
            ]
        ]
    },
    {
        "id": "3054f48526a4dbbc",
        "type": "function",
        "z": "8dbcadf2ac9b9d5d",
        "name": "wait",
        "func": "setTimeout(function () {\n    node.send(msg);\n}, 45000);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 280,
        "wires": [
            [
                "b7299f6e8567b0a1"
            ]
        ]
    },
    {
        "id": "b7299f6e8567b0a1",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 360,
        "wires": [
            [
                "b4aa1d891d420f1d"
            ]
        ]
    },
    {
        "id": "cc92421942a01d26",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "b4aa1d891d420f1d"
            ]
        ]
    },
    {
        "id": "19d889d060c1a964",
        "type": "exec",
        "z": "8dbcadf2ac9b9d5d",
        "command": "/data/data/com.termux/files/opt/lissi/termux/vtext2speech/NEWS-NATIONAL.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "800",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "b4aa1d891d420f1d",
                "3054f48526a4dbbc"
            ],
            [
                "5a1a0708ba885914"
            ],
            []
        ]
    },
    {
        "id": "33f9d863521703e1",
        "type": "inject",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "19d889d060c1a964"
            ]
        ]
    },
    {
        "id": "9c645bc28095921c",
        "type": "ui_button",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "group": "309957e1a91b56b2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "German News",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "WEB_100",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "c60b96ae148fa890"
            ]
        ]
    },
    {
        "id": "c60b96ae148fa890",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "0597e229cf45f2db",
                "19d889d060c1a964"
            ]
        ]
    },
    {
        "id": "0597e229cf45f2db",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "b4aa1d891d420f1d"
            ]
        ]
    },
    {
        "id": "b5bb8bc6974fb09e",
        "type": "ui_button",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "group": "309957e1a91b56b2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop speech",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "a1a01d1409f80f2c"
            ]
        ]
    },
    {
        "id": "a1a01d1409f80f2c",
        "type": "exec",
        "z": "8dbcadf2ac9b9d5d",
        "command": "touch /data/data/com.termux/files/opt/lissi/termux/vtext2speech/STOP.sem",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "800",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 1200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "232b1c0697197c3b",
        "type": "inject",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 1180,
        "wires": [
            [
                "a1a01d1409f80f2c"
            ]
        ]
    },
    {
        "id": "bee03283f542b0de",
        "type": "exec",
        "z": "8dbcadf2ac9b9d5d",
        "command": "/data/data/com.termux/files/opt/lissi/termux/vtext2speech/WETTER.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "800",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "b4aa1d891d420f1d",
                "3054f48526a4dbbc"
            ],
            [
                "5a1a0708ba885914"
            ],
            []
        ]
    },
    {
        "id": "b69b03c88318c75c",
        "type": "inject",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 900,
        "wires": [
            [
                "bee03283f542b0de"
            ]
        ]
    },
    {
        "id": "c5b2fc10ecabb22d",
        "type": "ui_button",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "group": "309957e1a91b56b2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Wetter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 940,
        "wires": [
            [
                "bcd0648ebb944a05"
            ]
        ]
    },
    {
        "id": "bcd0648ebb944a05",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 940,
        "wires": [
            [
                "e941c312ec64c74a",
                "bee03283f542b0de"
            ]
        ]
    },
    {
        "id": "e941c312ec64c74a",
        "type": "change",
        "z": "8dbcadf2ac9b9d5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "be patient",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1020,
        "wires": [
            []
        ]
    }
]